.gl-tabs-nav {
  @include gl-border-solid;
  @include gl-border-gray-100;
  @include gl-border-0;
  @include gl-border-b-1;
}

.gl-tab-nav-item {
  @include gl-text-gray-500;
  @include gl-px-4;
  @include gl-py-5;
  @include gl-line-height-normal;
  @include gl-font-base;

  transition: box-shadow 100ms linear;

  &.disabled {
    @include gl-text-gray-200;
  }

  &:hover {
    @include gl-text-gray-900;
    @include gl-inset-border-b-2-gray-100;
  }

  > .gl-tab-counter-badge {
    font-weight: inherit;
    color: inherit;
  }
}

.gl-tab-content {
  @include gl-py-3;
  @include gl-font-base;
  @include gl-line-height-normal;
  @include gl-text-gray-900;
}

.gl-tab-nav-item-active {
  @include gl-font-weight-bold;
  @include gl-text-gray-900;
}

.gl-tab-nav-item-active-indigo {
  @include gl-inset-border-b-2-theme-indigo-500;

  &:active,
  &:focus,
  &:focus:active {
    box-shadow: inset 0 ($gl-border-size-2 * -1) 0 0 $theme-indigo-500, $focus-ring;
    @include gl-outline-none;
  }
}

.gl-tab-nav-item-active-blue {
  @include gl-inset-border-b-2-theme-blue-500;

  &:active,
  &:focus,
  &:focus:active {
    box-shadow: inset 0 ($gl-border-size-2 * -1) 0 0 $theme-blue-500, $focus-ring;
    @include gl-outline-none;
  }
}

.gl-tab-nav-item-active-light-blue {
  @include gl-inset-border-b-2-theme-light-blue-500;

  &:active,
  &:focus,
  &:focus:active {
    box-shadow: inset 0 ($gl-border-size-2 * -1) 0 0 $theme-light-blue-500, $focus-ring;
    @include gl-outline-none;
  }
}

.gl-tab-nav-item-active-red {
  @include gl-inset-border-b-2-theme-red-500;

  &:active,
  &:focus,
  &:focus:active {
    box-shadow: inset 0 ($gl-border-size-2 * -1) 0 0 $theme-red-500, $focus-ring;
    @include gl-outline-none;
  }
}

.gl-tab-nav-item-active-light-red {
  @include gl-inset-border-b-2-theme-light-red-500;

  &:active,
  &:focus,
  &:focus:active {
    box-shadow: inset 0 ($gl-border-size-2 * -1) 0 0 $theme-light-red-500, $focus-ring;
    @include gl-outline-none;
  }
}

.gl-tab-nav-item-active-green {
  @include gl-inset-border-b-2-theme-green-500;

  &:active,
  &:focus,
  &:focus:active {
    box-shadow: inset 0 ($gl-border-size-2 * -1) 0 0 $theme-green-500, $focus-ring;
    @include gl-outline-none;
  }
}

.gl-actions-tabs-start {
  @include gl-w-full;
  @include gl-display-flex;
  @include gl-flex-direction-column;
  @include gl-mt-3;
  @include gl-display-md-none;
}

.gl-actions-tabs-end {
  @include gl-display-none;
  @include gl-flex-fill-1;
  @include gl-justify-content-end;
  @include gl-align-items-center;
  @include gl-flex-direction-row;
  @include gl-mt-0;
  @include gl-display-md-flex;
}

.gl-actions-tabs-start,
.gl-actions-tabs-end {
  button {
    @include gl-mb-3;
    @include gl-md-mr-3;
    @include gl-md-mb-0;
  }

  button:last-child {
    @include gl-m-0;
  }
}
